*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}


/* ------------Navigation bar styling------------ */
.nav {
    position: relative;
    margin-top: 50px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 2em;
}

#toggle-mode-icon {
    position: absolute;
    left: 90%;
    margin-block : auto;
    cursor: pointer;
}



i {
    font-size: 1.5em;
}



/* ------------Grid Container Styling------------ */
.container {
    margin-top: 25px;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    display: none;
}

/* ------------Grid Styling------------ */
.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
}

/* ------------Grid cells Styling------------ */
.box {
    height: 100px;
    border: 2px solid black;
    font-size: 3.5rem;
    cursor: pointer;
    color: black;
    background: transparent;
}
.box:hover {
    background-color: #f5f3f3;
}

/*------------ Grid cell Hover Class------------ */
/* Used in JS code */
.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}
.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}

/* ------------Removing side borders of grid------------ */
.box:first-child ,.box:nth-child(2),.box:nth-child(3){
    border-top: none;
}
.box:first-child,.box:nth-child(4),.box:nth-child(7){
    border-left: none;
}
.box:nth-child(3),.box:nth-child(6),.box:nth-child(9){
    border-right: none;
}
.box:nth-child(7),.box:nth-child(8),.box:nth-child(9){
    border-bottom: none;
}
/* -------------------------------------------------- */
/*------------classes for strike lines------------ */
/* Used in JS code */
/* row Strike Lines */
.line-row1{
    position: absolute;
    top: 16%;
    width: 100%;
    height: 4px;
    background-color: black;
    animation: ani 1.2s;
}
.line-row2{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: black;
    animation: ani 1.2s;
}
.line-row3{
    position: absolute;
    top: 84%;
    width: 100%;
    height: 4px;
    background-color: black;
    animation: ani 1.2s;
}
/* Animation for row strike lines */
@keyframes ani {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}
/* Column Strike Lines */
.line-col1{
    position: absolute;
    left: 16%;
    width: 4px;
    height: 100%;
    background-color: black;
    animation: ani2 1.2s;
}

.line-col2{
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: black;
    animation: ani2 1.2s;
}
.line-col3{
    position: absolute;
    left: 84%;
    width: 4px;
    height: 100%;
    background-color: black;
    animation: ani2 1.2s;
}
/* Animation for column strike line */
@keyframes ani2 {
    from {
        height: 0%;
    } to {
        height: 100%;
    }
}

/* Diagonal Strike Lines */
.line-diag1 {
    position: absolute;
    width: 5px;
    height: 90%;
    background-color: black;
    left: 50%;
    top: 5.8%;
    transform: skewX(45deg);
    animation: ani3 1.2s; 
}
.line-diag2 {
    position: absolute;
    width: 5px;
    height: 90%;
    background-color: black;
    left: 50%;
    bottom: 5.8%;
    transform: skewX(-45deg); 
    animation: ani3 1.2s;
}
/* Animation for diagonal strike line */
@keyframes ani3 {
    from {
        height: 0%;
        left: 4%;
    } 
    to {
        height: 90%;
        left: 50%;
    }
}
/* ------------Player container Styling------------ */
.players {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
/* ------------Player Styling(X,O) ------------*/
.player {
    /* left right margin */
    margin-inline: 20px;
    font-size: 20px;
    font-weight: bold;
}
/* ------------Restart button Styling------------ */
.restart {
    border: none;
    background: gray;
    /* top bottom margin */
    margin-block: 20px;
    padding: 8px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.restart:hover {
    background: rgb(140, 124, 124);
}

/*------------ Win alert navigation styling ------------*/
.alertBox{
    position: absolute;
    top : 0;
    text-align: center;
    background-color: gray;
    color: white;
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    display: none;
}

/* ------------Responsiveness------------  */
@media screen and (max-width:470px) {
    
    .nav {
        flex-wrap: wrap;
    }
    .heading{
        font-size: 1.8rem;
    }
    
    .grid {
        grid-template-columns: repeat(3,minmax(90px,1fr));
    }
    .box {
        height: 90px;
        font-size: 2.5rem;
    }
    .container {
        margin-top: 3vh;
    }
    .players {
        margin-top: 15px;
    }
    .player {
        margin-inline: 10px;
        font-size: 18px;
    }
    .restart {
        margin-block: 15px;
        padding: 6px 15=2px;
        font-size: 1rem;
    }
}



