* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg,purple,blue);
    display: flex;
    justify-content: center;
    padding: 30px;
    
}
/* TOdo list container */
.todo-list {
    width: 430px;
    height: fit-content;
    background: #fff;
    margin-top: 150px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.todo-list h2 {
    font-size: 1.8em;
    color: blueviolet;
}
/* input container styling */
.row {
    width: 380px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(210, 209, 209); */
    background-color: #f0f4f5;
    /* background-color: #eaf1f3; */
    border-radius: 25px;
}
/* input styling */
input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 14px;
    font-size: 15px;
}
input:placeholder-shown:hover {
    user-select: none;
    font-weight: 600;
    font-size: 15px;
}
button {
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    width: 100px;
    background: linear-gradient(45deg,rgb(151, 72, 224),rgb(62, 62, 239));
}

button:hover {
    font-size: 1.2em;
}

/* ToDo task container */
#list-container {
    margin: 25px;
    width: 370px;
    padding-left: 15px;
}

/* this below code contains todo task styling */
ul li {
    list-style: none;
    padding: 15px;
    padding-left: 20px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


/* Draw a circle in front of todo task */
ul li::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 18px;
    left: -10px;
    background-color: white;
    opacity: 0.4;
    border: 2.5px solid black;
} 


/* this checked class is used in js to mark the task that has been done */

.checked{
    color: #666;
    text-decoration: line-through;
}
.checked::before {
    /* background-color: green; */
    background: linear-gradient(45deg,rgb(151, 72, 224),rgb(62, 62, 239));
    opacity: 0.7;
}
/* this span is used to diplay X to delete a todo */
/* Used in Js */
ul li span{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 23px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #555;
}
ul li span:hover {
    /* background: #edeef0; */
    background: #f0f4f5;
    border-radius: 50%;
}
/* Responsiveness */
@media screen and (max-width:500px) {
    .todo-list {
        width: 350px;
        height: fit-content;
        margin-top: 120px;
    }
    .row {
        width: 320px;
        margin-top: 30px;
    }
    button {
        font-size: 15px;
        width: 90px;
    }
    .todo-list > h2 {
        font-size: 1.6em;
    }
    #list-container {
        width: 320px;
    }
}