*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgb(80, 198, 198),rgb(135, 50, 215));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container {
    /* border: 0.1px solid white; */
    border-radius: 10px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    background: transparent;
    /* box-shadow: 10px 60px 50px rgb(161, 89, 230) inset, 5px 5px 25px rgb(159, 100, 248); */
    box-shadow: 10px 56px 50px rgb(161, 89, 230) inset, 5px 5px 28px rgba(153, 237, 237,0.7);

}
.container h2 {
    font-size: 1.8em;
    margin-block: 15px;
}
.container input[type = 'text'] {
    border: none;
    outline: none;
    width: 330px;
    padding: 12px 8px;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    text-overflow: ellipsis;
}

.container input::placeholder {
    color: white;
}

#copyIcon {
    position: absolute;
    /* color: black; */
    right: 10px;   
    top: 8px;
    font-size: 30px;
    cursor: pointer;
}
#copyIcon:hover {
    color: rgb(137, 244, 244);
} 
.input-holder {
    position: relative;
    margin-block: 15px;
    width: 330px;
}

/* 
#copyIcon {
    position: absolute;
    top: 110px;
    color: black;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
} */

#rangeSlider {
    outline: none;
}

.row {
    display: flex;
    margin-block: 10px;
}
.row p,.row label {
    flex-grow: 1;
    font-size: 1em;
}

.row input[type='checkbox'] {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}


#genBtn {
    margin-block: 15px;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid violet;
    border-radius: 10px;
    background: transparent;
    color: white; 
    transition: background 0.4s ease-in-out;
    cursor: pointer;
    position: relative;
}

/* #genBtn:hover {
    background: linear-gradient(to top right,rgb(109, 228, 228),rgb(142, 50, 228));
} */

#genBtn::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to bottom right,rgb(88, 235, 235),rgb(135, 37, 227));
    transform: scaleX(0);
    z-index: -1;
    transform-origin: right;
    transition: transform 1s ease;
    border-radius: 10px;
}

#genBtn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
