@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

input {
    caret-color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,rgb(54, 54, 244),rgb(66, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------Flip Card---------------*/
#card {
    width: 360px;
    height: 480px;
    position: absolute;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 800px;
}

#front,#back {
    position: absolute;
    background: #dadada;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: 0.8s;
}
#front {
    transform: rotateY(0deg);
}
#back {
    transform: rotateY(180deg);
}
/*-----------------------------------------*/
.form-container {
    height: 80%;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    padding: 20px 18px ;
    margin-top: 10px;
}
.form-container header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 5px;
    letter-spacing: 1.5px;
}

.field-container {
    height: 5em;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 3px; */
    position: relative;
}
.field-container span {
    position: absolute;
    font-size: 25px;
    right: 7px; 
    cursor: pointer;   
}

.form-field {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    /* color: black; */
    padding: 5px 4px;
    font-size: 14px;
    margin-block: 8px;
}

.form-field::placeholder {
    color:transparent;
}

.form-label {
    position: absolute;
    display: block;
    top: 25px;
    font-size: 17px;
    transition: 0.5s;
    padding-left: 3px;
    cursor: pointer;
}
/* ------------------------------------------------------ */
.form-field:focus ~ .form-label,
.form-field:valid ~ .form-label{
    top: 3px;
    font-size: 15px;
}

/* .form-field:placeholder-shown ~ .form-label {
    top: 20px; // update top
    font-size: 17px;    
} */
/* ------------------------------------------------------ */

.remind-pass {
    display: flex;
    margin: 5px 0px;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;
}
.remind-pass input {
    cursor: pointer;
}

.btn-container {
    height: 5em;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.login,.signup {
    border: 2px solid white;
    padding: 5px;
    background: transparent;
    /* outline: none; */
    border-radius: 8px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
}

.login::before,.signup::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to right top, rgb(76, 225, 225),lightblue);
    transform: scaleX(0);
    transform-origin: right;
    z-index: -1;
    transition: transform 1s ease;
    border-radius: 9px;
}

.login:hover::before,.signup:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

label[for='log-in'] {
    margin-top: 30px;
    cursor: pointer;
}
label[for='sign-up'] {
    cursor: pointer;
}
#log-in,#sign-up {
    text-decoration: none;
    font-size:20px;
    letter-spacing: 1.5px;
    -webkit-text-stroke: 0.1px black;
}
#log-in:hover,#sign-up:hover {
    -webkit-text-stroke: 0.5px black;
}



